@import url("https://fonts.googleapis.com/css?family=Baloo+Chettan+2&display=swap");
body,
html {
  font-family: "Baloo Chettan 2", sans-serif;
}
.switch-wrapper {
  position: relative;
}

.ant-collapse-content {
  border: 1px solid #d9d9d9;
}

.ant-collapse-item {
  padding-bottom: 10px;
  border-bottom: none !important;
}

.ant-collapse {
  background-color: white !important;
}

.ant-collapse-header {
  border: 1px solid #e3e3e3;
}

.ant-collapse > .ant-collapse-item {
  border: none;
}

.ant-collapse .ant-collapse-item.ant-collapse-item-active .ant-collapse-header {
  border-left: 20px solid rgba(24, 144, 255, 0.7);
  font-weight: 600;
}

.ant-collapse
  .ant-collapse-item:last-child.ant-collapse-item-active
  .ant-collapse-header {
  border-left: 20px solid rgba(255, 77, 79, 0.7);
}

.ant-collapse
  .ant-collapse-item:first-child.ant-collapse-item-active
  .ant-collapse-header {
  border-left: 20px solid rgba(82, 196, 26, 0.7);
}

.ant-collapse-content > .ant-collapse-content-box {
  padding-top: 30px !important;
  padding-bottom: 0 !important;
}
