@import url("https://fonts.googleapis.com/css?family=Baloo+Chettan+2&display=swap");
body,
html {
  font-family: "Baloo Chettan 2", sans-serif;
}
.switch-wrapper {
  position: relative;
}
/* 
.switch-wrapper > div {
  position: absolute;
} */
